:root {
    --crust-color: #FB8B23;
    --base-color: #FBBF58;
    --cheese-color: #f7d012;
    --pepperoni-color: #D63E12;
    --basil-color: #52AA24;
    --slice-color: #797575;
}

html {
    width: 500px;
    height: 500px;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pizza {
    width: 500px;
    height: 500px;
}

#slices {
    width: 500px;
    height: 500px;
}

.slice {
    width: 200px;
    height: 200px;
    border-left: 15px solid var(--crust-color);
    border-top: 15px solid var(--crust-color);
    border-radius: 100% 0 0 0;
    background-color: var(--base-color);
    position: absolute;
}

.slice.one {
    transform: rotate(45deg);
    top: 100px;
    left: 250px;
}

.slice.two {
    transform: rotate(135deg);
    left: 400px;
    top: 250px;
}

.slice.three {
    transform: rotate(225deg);
    top: 400px;
    left: 250px;
}

.slice.four {
    transform: rotate(315deg);
    left: 100px;
    top: 250px;
}